# change haproxy.cfg file with the following
global
    log stdout local0 info

defaults
    log global
		timeout client 5m
  	timeout connect 50s
  	timeout server 20m
    option httplog

frontend main_ssl
	bind :443 ssl crt /etc/ssl/mitmproxy-ca-signed.pem
	mode tcp
	log global # disable if logging not needed

	tcp-request inspect-delay 5s
	tcp-request content capture req.ssl_sni len 25
	tcp-request content accept if { req_ssl_hello_type 1 }

	use_backend prod if { hdr(host) -i prod.revvox }
	use_backend prod if { hdr(host) -i prod.de.tbs.toys }
	default_backend rtnl

backend prod
	mode http
	option httplog
	balance roundrobin
	http-request set-header X-Real-IP %[src]
	server prod_mitmp 127.0.0.1:543 check

backend rtnl
	mode tcp
	option tcp-check
	balance roundrobin
	server rtnl_mitmp 127.0.0.1:643 check
